body {
    margin: 0px;
    background-image: url("/images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    font-size: 18px;
}

main {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 50vw;
}

.container{
    display: flex;
}

.container_info{
    margin-left: 5vw;
    align-self: center;
}

.info{
    width: 20vw;
    text-align: left;
}

.info_2{
    width: 20vw;
    text-align: center;
}